<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="test-int" value="5"/>
    <add key="test-datetime" value="2013-01-01"/>
    <add key="test-string" value="test"/>
    <add key="test-decimal" value="9.5"/>
    <add key="test-bool" value="true"/>
    <add key="test-empty" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="connection" connectionString="connection-string"/>
  </connectionStrings>
</configuration>