<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="test-int" value="5"/>
    <add key="test-datetime" value="2013-01-01"/>
    <add key="test-string" value="test"/>
    <add key="test-decimal" value="9.5"/>
    <add key="test-bool" value="true"/>
    <add key="test-empty" value=""/>

    <add key="testInt" value="5"/>
    <add key="testDatetime" value="2013-01-01"/>
    <add key="testString" value="test"/>
    <add key="testDecimal" value="9.5"/>
    <add key="testBool" value="true"/>
    <add key="testEmpty" value=""/>

    <add key="test-array-int" value="1,2,3"/>
    <add key="test-array-datetime" value="2013-01-01,2013-01-01,2013-01-01"/>
    <add key="test-array-string" value="test1,test2,test3"/>
    <add key="test-array-decimal" value="9.1,9.2,9.3"/>
    <add key="test-array-bool" value="true,true,false"/>
    <add key="test-array-empty" value=""/>
    
    <add key="test-array-decimal-semicolon" value="9.1;9.2;9.3"/>
    
    

  </appSettings>
  <connectionStrings>
    <add name="connection" connectionString="connection-string"/>
  </connectionStrings>
</configuration>